<div class="flex flex-wrap gap-[20px]">
  <div class="w-[calc((100%/2)-10px)] flex flex-col gap-[20px]">
    <div class="space-header-crd">
      <h3>Floors</h3>
      <div class="details">
        <div class="totals">
          <div class="flex w-[70%] justify-between">
            <div class="value-area">
              <span class="value">10</span>
              <p-tag value="Total" styleClass="bg-[--primary-color-blue]"></p-tag>
            </div>
            <div class="value-area">
              <span class="value">3</span>
              <p-tag value="Available" styleClass="bg-[--primary-color-green]"></p-tag>
            </div>
            <div class="value-area">
              <span class="value">7</span>
              <p-tag value="Filled" styleClass="bg-[--primary-color-yellow]"></p-tag>
            </div>
          </div>
          <div class="add-btn" (click)="isFloorPopup=true;visiblePopup=true;floorDataSubmitType='save'">
            Add <i class="pi pi-fw pi-plus"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-[--primary-color-white] p-[10px] rounded-[10px] overscroll-x-auto">
      <app-table [cols]="floorSchema" [products]="floorData" (updateElementId)="openUpdateFloorPopup($event)"
                 [isDeleteEnabled]="true" (deleteElementId)="confirmFloorDataDeletion($event)" [isUpdateEnabled]="true"
                 [isViewEnabled]="false"></app-table>
    </div>
  </div>
  <div class="w-[calc((100%/2)-10px)] flex flex-col gap-[20px]">
    <div class="space-header-crd">
      <h3>Spaces</h3>
      <div class="details">
        <div class="totals">
          <div class="flex w-[70%] justify-between">
            <div class="value-area">
              <span class="value">10</span>
              <p-tag value="Total" styleClass="bg-[--primary-color-blue]"></p-tag>
            </div>
            <div class="value-area">
              <span class="value">3</span>
              <p-tag value="Available" styleClass="bg-[--primary-color-green]"></p-tag>
            </div>
            <div class="value-area">
              <span class="value">7</span>
              <p-tag value="Filled" styleClass="bg-[--primary-color-yellow]"></p-tag>
            </div>
          </div>
          <div class="add-btn" (click)="isFloorPopup=false;visiblePopup=true;spaceDataSubmitType='save'">
            Add <i class="pi pi-fw pi-plus"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-[--primary-color-white] p-[10px] rounded-[10px] overscroll-x-auto">
      <app-table [cols]="roomSchema" [products]="roomData" [isViewEnabled]="false"
                 (updateElementId)="openUpdateSpacePopup($event)"></app-table>
    </div>
  </div>
</div>

<!--forms-->
<p-dialog
  [header]="
  (isFloorPopup && floorDataSubmitType==='save') ? 'Add New Floor' :
  (isFloorPopup && floorDataSubmitType==='update') ? 'Update Floor' :
  (!isFloorPopup && spaceDataSubmitType==='save') ? 'Add New Space' : 'Update Space'" [(visible)]="visiblePopup">
  <app-add-and-update-floor *ngIf="isFloorPopup" [submitButtonLabel]="floorDataSubmitType==='save'?'Save':'Update'"
                            [frmAddUpdateFloorDetails]="frmAddUpdateFloorDetails"
                            (buttonSubmitted)="floorDataSubmitType==='save'?submitFloorData():updateFloorData()">
  </app-add-and-update-floor>
  <app-add-and-update-space [frmAddUpdateSpaceDetails]="frmAddUpdateSpaceDetails" *ngIf="!isFloorPopup"
                            [floorList]="floorList"
                            (buttonSubmitted)="spaceDataSubmitType==='save'?submitSpaceData():updateSpaceData()"
                            [submitButtonLabel]="spaceDataSubmitType==='save'?'Save':'Update'"></app-add-and-update-space>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
