<div class="flex flex-wrap w-full gap-[20px]">
  <div class="w-[calc((100%/3)-10px)] flex flex-col gap-[20px]">
    <div class="p-[15px] rounded-[10px] bg-[--primary-color-white] flex gap-[20px] relative">
      <div class="absolute right-[15px] top-[15px] cursor-pointer"
           (click)="isPendingPaymentShow=!isPendingPaymentShow">
        <i [class]="isPendingPaymentShow?'pi pi-times-circle':'pi pi-external-link'"></i>
      </div>
      <div class="flex flex-col justify-center items-center">
        <span class="text-[25px] font-[700]">70</span>
        <p-tag value="Total" styleClass="bg-[--primary-color-blue]"></p-tag>
      </div>
      <div class="flex flex-col justify-center items-center">
        <span class="text-[25px] font-[700]">60</span>
        <p-tag value="Payment Clear" styleClass="bg-[--primary-color-green]"></p-tag>
      </div>
      <div class="flex flex-col justify-center items-center">
        <span class="text-[25px] font-[700]">10</span>
        <p-tag value="Payment Pending" styleClass="bg-[--primary-color-red]"></p-tag>
      </div>
    </div>
    <div class="p-[15px] rounded-[10px] bg-[--primary-color-white]">
      <app-add-and-update-store frmTitle="Add New Store"
                                btnLabel="Save"
                                [frmStore]="frmStores"
                                (isSubmitted)="saveStore()"
                                [availableRoomList]="availableSpacesList"
                                [ownerList]="ownerList"></app-add-and-update-store>
    </div>
  </div>
  <div class="w-[calc(((100%/3)*2)-10px)] flex flex-col gap-[20px]">
    <!--    pending payment section -->
    <div class="flex flex-col w-full p-[15px] gap-[15px] rounded-[10px] bg-[--primary-color-white] relative"
         *ngIf="isPendingPaymentShow">
      <div class="absolute cursor-pointer right-[15px] top-[15px]" (click)="isPendingPaymentShow=false;">
        <i class="pi pi-times-circle text-[25px]"></i>
      </div>
      <h3 class="text-center text-[18px] font-[500] uppercase">Pending Payments</h3>
      <form [formGroup]="frmSearchPendingPayments" class="justify-end items-end flex">
        <div class="w-[300px]">
          <app-input-text placeholder="Search by shop name"
                          [formControl]="$any(frmSearchPaymentControls['shopName'])"></app-input-text>
        </div>
      </form>
      <app-table [cols]="pendingPaymentTableSchema" [products]="pendingPaymentTableData"
                 [isDeleteEnabled]="false"></app-table>
    </div>
    <!--    end pending payment section-->
    <div class="flex flex-col w-full p-[15px] gap-[15px] rounded-[10px] bg-[--primary-color-white]">
      <h3 class="text-center text-[18px] font-[500] uppercase">All Stores</h3>
      <form [formGroup]="frmSearchStore" class="justify-end items-end flex gap-[20px] w-full flex-row">
        <div class="w-[200px]">
          <app-input-dropdown placeholder="Category"
                              [formControl]="$any(frmSearchStoreControls['shopCategory'])"></app-input-dropdown>
        </div>
        <div class="w-[200px]">
          <app-input-text placeholder="Owner name"
                          [formControl]="$any(frmSearchStoreControls['shopOwnerName'])"></app-input-text>
        </div>
        <div class="w-[200px]">
          <app-input-text placeholder="Shop name"
                          [formControl]="$any(frmSearchStoreControls['shopName'])"></app-input-text>
        </div>
      </form>
      <app-table [cols]="storeTableSchema" [products]="storeTableData"
                 [isDeleteEnabled]="true"></app-table>
    </div>
  </div>
</div>
