.input-date-picker .p-element.p-inputwrapper{
  padding: 7px 5px;
  width: 100%;
  border: 1px solid #ced4da !important;
  box-shadow: none;
  border-radius: 3px;
}

.input-date-picker.invalid .p-element.p-inputwrapper{
  border: 1px solid var(--primary-color-red) !important;
}

.input-date-picker .p-element.p-inputwrapper input{
  box-shadow: none;
}
