<div class="flex gap-[20px] flex-wrap">
  <div class="w-[calc((100%/3)-10px)] rounded-[10px] bg-[--primary-color-white] p-[15px]">
    <app-add-and-update-store-owner [frmOwner]="frmStoreOwner"
                                    (formSubmitting)="isFormOnSaveState?saveStoreOwner():updateCategory()"
                                    [submitButtonLoading]="false"
                                    [submitBtnLabel]="isFormOnSaveState?'Save':'Update'"
                                    [frmTitle]="isFormOnSaveState?'Add New Owner':'Update Owner'"></app-add-and-update-store-owner>
  </div>
  <div class="w-[calc(((100%/3)*2)-10px)] rounded-[10px] bg-[--primary-color-white] p-[15px] h-fit">
    <app-table [isDeleteEnabled]="false" [isViewEnabled]="false" [products]="storeOwnerTableData"
               [cols]="storeOwnerTableSchema" (updateElementId)="getDataById($event)"></app-table>
  </div>
</div>
<p-toast></p-toast>

<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
